
    header{
        text-align:center;
        background:-webkit-linear-gradient(#FFFFFF 98%, #000000);
    }

    .head{
        border:2px solid rgba(255,0,0,1);
        background-color:rgba(00,0,0,0.9);
        margin:2.5%;
        width:95%;
        color:white;
    }

    #name{
      text-decoration:underline
    }
    .title_img_right{
        float:right;
        opacity:1;
    }

    .title_img_left{
        float:left;
        opacity:1;
    }

    .body_img_right{
        float:right;
        margin-left:20px;
        -webkit-border-radius:10px;
        border-radius:10px;
        box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        border:1px solid black;
    }

    .body_img_url{
        -webkit-border-radius:10px;
        border-radius:10px;
        box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        border:1px solid black;
        filter:grayscale(80%)
    }

    .body_img_url:hover{
      filter:grayscale(0%)
    }

    .social_url{
        filter:grayscale(80%)
    }

    .social_url:hover{
      filter:grayscale(0%)
    }

    .body_img_left{
        float:left;
        margin-right:20px;
        -webkit-border-radius:10px;
        border-radius:10px;
        box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        border:1px solid black;
    }


/*    p.head{
   position: fixed;
   top: 30px;
   right: 5px;
   color: red;
}*/

    h1 {
        font-size:250%;
        font-variant:small-caps;
        text-align:center;
        text-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        text-decoration:underline overline;
        text-transform:capitalize;
    }

    h2 {
        font-variant:small-caps;
        text-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    }

    #Welcome {
        width:100%;
    }

    #Welcome .first strong {
        color:red;
    }

    body {
        font-family: Tahoma;
        //background-color: rgb(255,255,255,1);
        //background:-webkit-linear-gradient(#FFFFFF, #000000);
        background-image:url("back_ground.jpg");
        background-size:cover;
    }

    ul {
        font-style:italic;
        list-style-type:circle;
    }

    form {
        vertical-align:top;
        display:table-cell;
    }

    a{
      color:orange;
    }
    a:hover{
        text-shadow: 5px 2px 4px rgba(0,0,0,.1);
    }

    nav{
        text-align:center;
        perspective:100px;
    }

    footer{

    }

    #thumbnail{

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.about{
    border:2px solid rgba(0,255,0,1);
    background-color:rgba(00,0,0,0.8);
    margin:2.5%;
    width:95%;
    color:white;
}

.links{
      border:2px solid rgba(0,0,255,1);
      margin:2.5%;
      background-color:rgba(00,0,0,0.7);
      width:95%;
      color:white;
}
.certificates{

      background-color:rgba(0,0,00,0.6);
      margin:2.5%;
      width:95%;
      color:white;
}
.footer{
          border:2px solid yellow;
      background-color:rgba(00,0,00,0.5);
      margin:2.5%;
      width:95%;
      font-size:80%;
      font-style:italic;
      color:white;
}
.fullCard{
  border-radius:15px;
  padding:2px;
}

.cardText{
  margin-bottom:30px;
}

.cardContent{
  padding:8px;
}
