
    header{
        text-align:center;
        background:-webkit-linear-gradient(#FFFFFF 98%, #000000);
    }

    .head{

    }

    #name{
      text-decoration:underline
    }
    .title_img_right{
        float:right;
        opacity:1;
    }

    .title_img_left{
        float:left;
        opacity:1;
    }

    .body_img_right{
        float:right;
        margin-left:20px;
        -webkit-border-radius:10px;
        border-radius:10px;
        box-shadow: 5px 2px 4px #DDDDDD;
        border:1px solid black;
    }

    .body_img_url{
        -webkit-border-radius:10px;
        border-radius:10px;
        box-shadow: 5px 2px 4px #DDDDDD;
        border:1px solid black;
        filter:grayscale(80%)
    }

    .body_img_url:hover{
      filter:grayscale(0%)
    }

    .social_url{
        filter:grayscale(80%)
    }

    .social_url:hover{
      filter:grayscale(0%)
    }

    .body_img_left{
        float:left;
        margin-right:20px;
        -webkit-border-radius:10px;
        border-radius:10px;
        box-shadow: 5px 2px 4px #DDDDDD;
        border:1px solid black;
    }


/*    p.head{
   position: fixed;
   top: 30px;
   right: 5px;
   color: red;
}*/

    h1 {
        font-size:250%;
        font-variant:small-caps;
        text-align:center;
        text-shadow: 5px 2px 4px #DDDDDD;
        text-decoration:underline overline;
        text-transform:capitalize;
    }

    h2 {
        font-variant:small-caps;
        text-shadow: 5px 2px 4px #DDDDDD
    }

    #Welcome {
        width:100%;
    }

    #Welcome .first strong {
        color:red;
    }

    body {
        font-family: Tahoma;
    }

    ul {
        font-style:italic;
        list-style-type:circle;
    }

    form {
        vertical-align:top;
        display:table-cell;
    }

    a:hover{
        text-shadow: 5px 2px 4px #DDDDDD;
    }

    nav{
        text-align:center;
        perspective:100px;
    }

    footer{
      font-size:80%;
      font-style:italic;
    }
